body {
    width: 450px;
    margin: 0 auto;
}

#calendar_frame {
    width: 450px;
    height: 328px;


}

ul.calendar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 428px;
    height: 327px;
    border-top: 1px solid gray;
}
ul.calendar li {
    width:60px;
    height: 50px;
    display: block;
    float: left;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

}
ul.calendar li:nth-child(7n+1){
    border-left:  1px solid gray;
}
ul.calendar li.header{
    width:60px;
    height: 20px;
    background-color: #CCCCCC;
    color: black;
    text-align: center;
    font-weight: bold;
}
ul.calendar li.header:first-child{
    width:60px;
    height: 20px;
    background-color: #ff9999;
    color: red;

}
ul.calendar li.header:nth-child(7){
    width:60px;
    height: 20px;
    background-color: #6699ff;
    color: blue;
}
ul.calendar li.sat {
    color: blue;
}
ul.calendar li.sun {
    color: red;
    clear: both;

}
ul.calendar li h3 {
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 2px;
    width: 28px;
    float: left;

}
ul.calendar li h3.holiday {
    color: red;
}
ul.calendar li p{
    text-align: center;
    font-size: 7pt;
    line-height: 0;
    margin: 0px auto;
}
ul.calendar li p.holiday {
    color: red;
    clear: both;
}
.calendar_child {
    margin: 0;
    padding: 10px 10px;
    width: 29px;
    height: 47px;
    display: block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
}
.calendar_child:nth-child(7n){
    clear:both;
}

ul.calendar li p.tenki {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: 24px;
    float:right;
    font-size: 1.17em;
    color: white;
    text-shadow: 
        2px  2px 1px gray,
        -2px  2px 1px gray,
        2px -2px 1px gray,
        -2px -2px 1px gray,
        2px  0px 1px gray,
        0px  2px 1px gray,
        -2px  0px 1px gray,
        0px -2px 1px gray; 
}